/* You can add global styles to this file, and also import other style files */
.w-100px {
  width: 100px;
}
.main-color {
  color: #4d3bd8;
}
.sec-color {
  color: #8e82ee;
}

.color-red {
  color: red;
}
.color-golden {
  color: gold;
}
app-header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 33;
  background: white;
}
